/* Custom styles
   ========================================================================== */
#main{
	background: #434851 url(assets/media/neural-network-2.png) no-repeat right 45%;
	background-blend-mode: color-dodge;
	background-size: 50%;
}
.section--first{
	background: #434851 url(assets/media/neural-network-1.png) no-repeat right 65%;
	background-blend-mode: color-dodge;
	background-size: 50%;
}

h5{
	font-size: 36px;
	line-height: 44px;
}
.sub-head-2{
	font-size: 32px;
	line-height: 40px
}
.sub-head-2 span{
	display: block;
}
#widecard,
#registration,
#schedule .reveal{
	position: relative;
}
.flying-logo{
	position: absolute;
	z-index: 2;
	left: 0;
	top: 100px;
	transform: rotate(-90deg);
	opacity: 0.5;
}
.flying-logo-2{
	left: 100px;
	top: 95px;
	transform: rotate(180deg);
}
.flying-logo-3{
	left: auto;
    right: -50px;
    top: -80px;
    transform: rotate(180deg);
}
.reveal__copy p{
	width: 95%;
}
.speaker-neat {
    margin-bottom: 30px;
}
.speaker-neat figure{
	border-radius: 50%;
	overflow: hidden;
	max-height: 207px;
	border: 10px solid #ffffff;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}
.speaker-neat:hover figure{
	border: 10px solid #eb5c3b;
}
.speaker-neat__copy{
	text-align: center;
	color: #ffffff;
}
.speaker-neat:hover .speaker-neat__copy{
	color: #ee5b33;
}
.speaker-neat__copy h5{
	margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
}
#speakers .lines-bg {
    background: url(assets/media/speakers-bg-all.png) no-repeat center 38%;
    background-size: 70%;
}
.speaker-neat.organizer figure{
	height: 190px;
	width: 190px;
	margin: auto;
}
.organizers-header {
	margin-top: 75px;
}
.special-thanks {
	font-size: 20px;
}
.s-l img {
	width: auto;
	padding-right: 30px;
}

.s-l-row {
	margin: auto;
	text-align: center;
}

.s-l-row .in-view__child {
	display: inline-block;
	padding-top: 10px;
}

img.filter-white {
	filter: brightness(0) invert(1);
}

.platinum .s-l img {
	height: 100px;
}

.strategic-partners .s-l img {
	height: 95px;
}

.gold .s-l img {
	height: 65px;
}

.silver .s-l img {
	height: 85px;
}

.bronze .s-l img {
	height: 70px;
}

#sponsors h3 {
	margin-top: 30px;
	text-align: center;
}

@media (min-width: 992px){
	.display-one {
	    font-size: 100px;
	    line-height: 120px;
	    letter-spacing: -0.04em;
	}
}
@media screen and (max-width: 768px){
	#speakers .lines-bg {
        background: url(assets/media/speakers-bg-mobile.png) no-repeat center 40%;
    }
	.speaker-neat figure{
		max-height: 660px;
	}
	.flying-logo{
		display: none;
	}
}
@media screen and (max-width: 425px){
	.speaker-neat figure{
		max-height: 220px;
	    width: 220px;
	    margin: 0 auto;
	}
}
